
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;
    background:#050816;
    color:white;
}

#particles{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}


.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    position:fixed;
    width:100%;

    background:rgba(5,8,22,0.8);
    backdrop-filter:blur(10px);
}

.navbar h2{

    color:#00bfff;
}

nav a{

    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{

    font-size:60px;
    color:#00bfff;

    text-shadow:0 0 20px #00bfff;
}

.hero p{

    margin:20px 0;
    font-size:20px;
}

button{

    padding:15px 30px;
    border:none;
    border-radius:30px;

    background:#8326aa;
    color:white;
    cursor:pointer;

    box-shadow:0 0 20px #822ace;
}

button:hover{

    transform:scale(1.05);
}


.about{

    padding:120px 15%;
    text-align:center;
}

.about h2{

    color:#00bfff;
    margin-bottom:20px;
}


.skills{

    padding:100px 10%;
    text-align:center;
}

.cards{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:25px;
    margin-top:40px;
}

.card{

    background:#101a33;
    padding:35px;
    border-radius:20px;
    transition:.3s;
    border:1px solid #00bfff;
}

.card:hover{

    transform:translateY(-10px);
    box-shadow:0 0 20px #00bfff;
}

.contact{

    padding:120px 10%;
    text-align:center;
}

.logo{
    color:#00bfff;
    font-weight:bold;
    letter-spacing:2px;
    text-shadow:0 0 15px #00bfff;
}

a {
    color:#00bfff;
    text-decoration:none;
}